{% extends 'base.html' %}
{% load static %}
{% block content %}
  <style>
    .container-main{
        margin: 5rem 0 15rem 0;
    }
  </style>
  <div class="container">
  <div class="container-main">
    <div class="container-fluid ">
      <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">Page Not Found</p>
        <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
        <a href="{% url 'home' %}">&larr; Back to Home</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
