{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="section">
    <div class="container">
      <div class="progress">
        <div class="progress-bar progress-bar-striped active rounded" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
      </div>
      <button id="startButton" class="btn btn-primary">Start</button>
    </div>

    <div class="uploaded-content" style="display: block;">
      <div class="row justify-content-between">
        <div class="col-lg-7 mb-4 mb-lg-0">
          <video id="uploadedVideo" class="embed-responsive" autoplay></video>
          <img id="uploadedImage" class="img-fluid" alt="Uploaded Image" />
        </div>
        <div class="col-lg-4 ps-lg-2">
          <div class="mb-5">
            <h2 class="text-black h4">결과 설명</h2>
          </div>
          <div class="d-flex mb-3 service-alt">
            <div>
              <span class="bi-wallet-fill me-4"></span>
            </div>
            <div>
              <h3>그래프</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias esse dolores cum facere facilis doloribus libero, optio impedit sunt ullam commodi explicabo repudiandae eaque laudantium architecto eum molestias. Voluptate, beatae.</p>
            </div>
          </div>

          <div class="d-flex mb-3 service-alt">
            <div>
              <span class="bi-pie-chart-fill me-4"></span>
            </div>
            <div>
              <h3>수치</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nostrum dignissimos cum corrupti, beatae totam fugit similique fugiat consequatur natus non in nulla nam harum ab sequi inventore doloremque tenetur!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="file-upload" style="position: absolute; bottom: 2px; right: 50%;">
      <input type="file" style="display: none;" id="fileInput" accept="image/*, video/*" />
      <label for="fileInput" class="btn btn-primary rounded-full">UPLOAD</label>
    </div>
  </div>

  <script>
    document.getElementById('startButton').addEventListener('click', function () {
      var progressBar = document.querySelector('.progress-bar')
      var currentValue = 0
    
      var interval = setInterval(function () {
        if (currentValue >= 100) {
          clearInterval(interval)
        } else {
          currentValue++
          progressBar.style.width = currentValue + '%'
          progressBar.setAttribute('aria-valuenow', currentValue)
        }
      }, 100) // 100 milliseconds interval, you can adjust it for desired speed
    })
  </script>

  <script src="{% static 'js/fog.js' %}"></script>
{% endblock %}
