{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link href="https://db.onlinewebfonts.com/c/67680f2eb947c5cbd58b40961b4a61e9?family=Apple+SD+Gothic+Neo+Bold" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/home.css' %}?ver=1" />
  <script defer src="{% static 'js/custom/home.js' %}?ver=1"></script>

  <section class="background">
    <section class="fog-section">
      <div class="fog-container-left">
        <div class="fog-box" style="background-image: url('/static/img/LD.png');"></div>
      </div>

      <div class="fog-container-right">
        <div class="fog-box" style="background-image: url('/static/img/RD.png');"></div>
      </div>
    </section>
  </section>

  <section class="hero product-1 mb-3">
    <div class="container-home">
      <div class="title title-top align-items-end">
        {% comment %}마케팅적인 문구{% endcomment %}
        <div class="title-heading">뿌옇고 흐린 날, 선명한 순간을 담다!</div>
        <div class="title-sub-heading">Fog Filter, 그 본질을 관통하다.</div>
        {% comment %}뿌옇고 흐린 날 사진을 찍을 때, 어떻게 해야 더 잘 찍을지 고민을 하지 않아도 됨. 왜냐면 우리는 사진 자체에서 흐린 요소를 필터링 해주니까! 본질 자체를 해결한다는 의미에서 '본질을 관통하다'라는 문구 사용{% endcomment %}
      </div>
    </div>
  </section>

  {% comment %}animation{% endcomment %}
  {% comment %}slideInUp vs. fadeInUp{% endcomment %}
  <section class="introduce animation-target my-5">
    <div class="row">
      <div class="container-home">
        <div class="title title-dark mb-5">
          <div class="title-heading">미세먼지, 안개 적절히 제거하다.</div>
          <div class="title-sub-heading">
            뿌옇고 흐린 날 걱정없이 <span class="fs-1">📸</span>
          </div>
          <p class="title-content pt-0">사진의 안개를 필터링, 인생샷을 건지세요.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="product-2 animation-target">
    <div class="row gap-0 align-items-center inline-block">
      <div class="container-home col-lg-6 col-md-6 col-sm-12">
        <div class="title title-dark">
          {% comment %}기능적인 문구{% endcomment %}
          <div class="title-heading d-flex align-items-center justify-content-center">Fog Filter.</div>
          <div class="title-sub-heading d-flex align-items-center justify-content-center">보다 뚜렷하게, 선명하게.</div>
        </div>
        <div class="cta">
          <a href="{% url 'fog' %}" class="a-home cta-link cta-link-darker btn btn-primary btn-sm rounded-pill home-a">바로가기</a>
        </div>
      </div>
      <div class="img-src col-lg-6 col-md-6 col-sm-12">
        <img src="{% static 'img/fog.jpg' %}" class="img-fluid" />
      </div>
    </div>
  </section>

  {% comment %} <section id="extra-content" class="mt-5 mx-3 p-5 animation-target">
    <div class="row d-flex">
      <div class="col-lg-6 col-md-6 col-sm-12 extra-content-1">
        <div class="card">
          <img class="card-img" src="https://images.unsplash.com/photo-1589935447067-5531094415d1?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="CCTV photo" />
          <div class="card-img-overlay d-flex justify-content-center">
            <div class="title-sub-heading">CCTV, 블랙박스 활용</div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 extra-content-1">
        <div class="card">
          <img class="card-img" src="https://images.unsplash.com/photo-1603695820889-f8a0a86b8712?q=80&w=3174&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="황사 photo" />
          <div class="card-img-overlay d-flex justify-content-center">
            <div class="title-sub-heading">황사, 해무 다양한 ☁️에 적용</div>
          </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}

  <section class="help">
    <div class="row mt-5">
      <div class="container-home page-support-part">
        <h3 class="text-center fw-bold home-h3">도움이 필요하신가요?</h3>
        <div class="mt-5 d-flex justify-content-center text-center">
          <div class="col-3 page-support-item">
            <img src="https://images.unsplash.com/photo-1484069560501-87d72b0c3669?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="ask image" class="img-fluid rounded mb-3" />
            <h5 class="text-left home-h5">About</h5>
            <p class="text-left home-p">
              프로젝트 팀에 대해서 궁금하신가요?<br /> 그렇다면 About으로 가보세요!
            </p>
            <a href="{% url 'about_us' %}" class="a-home text-left home-a" style="color: #2779a7;">자세히 보기</a>
          </div>
          <div class="col-3 page-support-item">
            <img src="https://plus.unsplash.com/premium_photo-1682125235036-d1ab54136ff4?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="contact image" class="img-fluid rounded mb-3" />
            <h5 class="text-left home-h5">Contact</h5>
            <p class="text-left home-p">
              서비스 관련해서 개인적으로<br /> 문의할 것이 있으신가요?<br /> Contact 페이지로 가보세요!
            </p>
            <a href="{% url 'contact' %}" class="a-home text-left home-a" style="color: #2779a7;">자세히 보기</a>
          </div>
          <div class="col-3 page-support-item">
            <img src="https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="community image" class="img-fluid rounded mb-3" />
            <h5 class="text-left home-h5">Community</h5>
            <p class="text-left home-p">
              서비스에 대한 리뷰와 뉴스를 보고 싶으신가요?<br /> Community로 가보세요!<br /> 직접 리뷰를 남길 수 있답니다!
            </p>
            <a href="{% url 'support' %}" class="a-home text-left home-a" style="color: #2779a7;">자세히 보기</a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
