{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% comment %} {% if user.is_authenticated %} {% endcomment %}
<section class="section">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col" data-aos="fade-up">
                <div class="content-section">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <div class="row justify-content-center align-items-center">
                                <div class="col">
                                    <legend class="border-bottom mb-4">Post</legend>
                                    <div style="width: 100%; max-width: 800px;">
                                         {{ form.media }}
                                         {{ form|crispy }}
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group ">
                            <button class="btn btn-outline-dark" type="submit">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% comment %} {% endif %} {% endcomment %}
{% endblock %}