{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <!-- 좌측 상단 '질문하기' 버튼 -->
      <div class="col-md-2">
        <a class="btn btn-primary" href="{% url 'post_form' %}">질문하기</a>
      </div>
      <!-- 우측 상단 '검색' 입력란 -->
      <div class="col-md-6 offset-md-4">
        <input type="text" class="form-control" placeholder="검색..." />
      </div>
    </div>

    <div class="row">
      <!-- '사용방법' Carousel -->

      <div class="col-md-12 mt-4">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="..." class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="..." class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="..." class="d-block w-100" alt="..." />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- '네비' (카테고리 선택) -->
      <div class="col-md-12 mt-4">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" href="#">전체</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">일반</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">시연</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">제품사용</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">기타</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <!-- '제공되는 서비스' 박스 -->
      <h2>BE : posts 설정</h2>
      {% comment %}  {% endcomment %}
      {% for post in posts %} 
        <div class="col-md-6 mt-4">
          <div class="card">
            <div class="card-body">제공되는 서비스 내용</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
