{% extends 'base.html' %}
{% load static %}

{% block content %}
  <style>
    .form-control-sm {
      width: 300px;
    }
    
    .text-primary {
      color: #7395ae !important;
    }
    .page-link {
      color: black;
    }
  </style>
  <div class="container-fluid bg-dark page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
      <h1 class="display-2 text-white mb-4 animated slideInDown">Contact</h1>
    </div>
  </div>

  <div class="section search-result-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-12 my-3">
          <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link active" href="#">전체</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">일반</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">제품사용</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">기타</a>
              </li>
            </ul>
            <div class="d-flex justify-content-end">
              <form action="#" class="sidebar-search-form d-sm-inline-flex flex-row-reverse">
                <form action="{% url 'contact_list' %}" method="GET" id="BoardSearch" name="BoardSearch">
                  <input type="hidden" id="contact_kw" name="contact_kw" value="{{ contact_kw|default_if_none:'' }}" />
                  <input type="hidden" id="page" name="page" value="{{ page }}" />
                </form>
                <div class="navbar-nav align-items-center mr-2">
                  <div class="nav-item d-flex align-items-center" style="width:100%;">
                    <input type="text" class="form-control border-1 shadow-none" placeholder="게시글 검색" aria-label="Search..." id="contact_search_kw" name="contact_search_kw" value="{{ contact_search_kw|default_if_none:'' }}" />
                  </div>
                </div>
                <div style="list-style:none; ml-2">
                  <button class="btn btn-primary" type="button" id="btnSearch"><i class="fas fa-search"></i></button>
                </div>
              </form>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <section class="contact-messages">
    <div class="section sec-halfs py-0">
      <div class="container">
        {% if contact_messages %}
          {% comment %}for{% endcomment %}
          <form method="post" action="{% url 'delete_contact' %}">
            <div class="menu d-flex">
              <div class="contact-checkbox mt-2">
                <input type="checkbox" name="" id="" />
                <span>전체선택</span>
              </div>
              <div class="msg-delete-btn inline-block justify-content-end text-end ms-auto">
                <input type="submit" value="🗑" class="btn" />
              </div>
            </div>
            <hr />
            {% csrf_token %}

            {% for ContactMessage in contact_messages %}
              <div class="d-lg-flex align-items-stretch mb-5">
                <div class="contact-msg-list">
                  <div class="contact-msg-post d-flex">
                    <div class="contact-msg-checkbox mr-3 mt-2 align-self-start">
                      <input type="checkbox" name="" id="" />
                    </div>
                    <div class="contact-msg-content inline-block">
                      <a href="{% url 'contact_detail' post_num = ContactMessage.post_num %}" class="h2 heading text-primary mb-3">{{ ContactMessage.title }}</a>
                      <p class="mb-4">{{ ContactMessage.email }} - {{ ContactMessage.created_at }}</p>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </form>
        {% else %}
          <h3>게시물이 없습니다</h3>
        {% endif %}
      </div>
    </div>
  </section>

  {% comment %}페이지네이션{% endcomment %}
  <section>
    <div class="row posts-entry">
      <div class="col">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% if recent_pages.has_previous %}
              <li class="page-item prev">
                <a class="page-link" href="?page={{ recent_pages.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
              </li>
            {% endif %}

            {% for page_number in recent_pages.paginator.page_range %}
              {% if page_number >= (recent_pages.number|add:- 5 and page_number <= (posts.number|add:5)) %}
                {% if page_number == recent_pages.number %}
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}

            {% if recent_pages.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ recent_pages.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </section>
  <script src="{% static 'js/custom/contact-list.js' %}" type="text/javascript"></script>
{% endblock %}
