{% extends 'base.html' %}
{% load static %}

{% block content %}
  <style>
    .support,
    .news,
    .contact {
      width: 300px;
    }

    span a, h2 a{
      color: #7395AE;
    }

    span a:hover, h2 a:hover{
      color: var(--color-fg);
    }

    .accordion-button:not(.collapsed) {
      background-color: #becdd9;
      color:white;
    }

    .admin-box h1 {
      margin-bottom: 1rem;
    }
  </style>
  <div class="container">
    <div class="container my-5">
      <div class="row">
        <!-- 백엔드: 좌측 상단 프로필 이미지 -->
        <div class="col text-center">
          <div>
            <img src="{% static 'img/person_2.jpg' %}" class="rounded-circle profile-image" alt="{{ user.username }}" width="300" height="300" data-toggle="modal" data-target="#profilePictureModal" />
          </div>
        </div>
        <!-- '하루 접속자 수', '하루 작성된 리뷰 수', '하루 서비스 이용자 수'를 표시하는 박스 -->
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">통계 정보</h5>
              <ul class="list-group">
                <li class="list-group-item">하루 접속자 수: {{ daily_visitors }}</li>
                <li class="list-group-item">하루 작성된 리뷰 수: {{ daily_reviews }}</li>
                <li class="list-group-item">하루 서비스 이용자 수: {{ daily_users }}</li>
              </ul>
            </div>
            <div class="card-body profile-box">
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">프로필 수정</button></h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <form class="accordion-body" id="profilePost" method="post">
                      <textarea class="form-control col-sm-4" rows="5" id="profileContent">{{ user.profile }}</textarea>
                      <!-- 백엔드: 프로필 수정 버튼 -->
                      {% if user.is_authenticated and user == admin %}
                        {% comment %}onclick="saveProfile()" ..?{% endcomment %}
                        {% comment %}수정해도 다시 해당 url로 redirection{% endcomment %}
                        <button type="submit" class="btn btn-primary mt-2">프로필 저장</button>
                      {% endif %}
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 'support.html', 'community-news.html', 'contact-list'로 넘어가는 박스 -->
    <div class="row justify-content-evenly">
      <div id="admin-resources" class="support p-4 text-center justify-content-center border border-light-subtle border-1 rounded">
        <div class="admin-box text-center col-md-4 text-center mb-5">
          <h1>Support</h1>
        </div>
        <div style="text-align: left;" class="mb-4"> 
          <span class="date">review 날짜 &bullet; <a href="#">카테고리</a></span>
          <h2><a href="{% url 'news_detail' %}">review 이름</a></h2>
        </div>
        <div style="text-align: left;" class="mb-4">
          <span class="date">review 날짜 &bullet; <a href="#">카테고리</a></span>
          <h2><a href="{% url 'news_detail' %}">review 이름</a></h2>
        </div>
        <a href="{% url 'support' %}" class="btn btn-primary btn-block">더보기</a>
      </div>

      <div id="admin-resources" class="news p-4 text-center border border-light-subtle border-1 rounded">
        <div class="admin-box text-center col-md-4 mb-5">
          <h1>News</h1>
        </div>
        <div style="text-align: left;" class="mb-4">
          <span class="date">기사 날짜 &bullet; <a href="#">카테고리</a></span>
          <h2><a href="{% url 'news_detail' %}">기사 이름</a></h2>
        </div>
        <div style="text-align: left;" class="mb-4">
          <span class="date">기사 날짜 &bullet; <a href="#">카테고리</a></span>
          <h2><a href="{% url 'news_detail' %}">기사 이름</a></h2>
        </div>
        <a href="{% url 'news_list' %}" class="btn btn-primary btn-block">더보기</a>
      </div>

      <div id="admin-resources" class="contact p-4 text-center border border-light-subtle border-1 rounded">
        <div class="admin-box text-center col-md-4 mb-5">
          <h1>Contact</h1>
        </div>
        <div style="text-align: left;" class="mb-4">
          <span class="date">contact 날짜</span>
          <h2><a href="{% url 'contact_list' %}">contact 이름r</a></h2>
        </div>
        <div style="text-align: left;" class="mb-4">
          <span class="date">contact 날짜</span>
          <h2><a href="{% url 'contact_list' %}">contact 이름</a></h2>
        </div>
        <a href="{% url 'contact_list' %}" class="btn btn-primary btn-block">더보기</a>
      </div>
    </div>
  </div>
{% endblock %}
