{% extends 'base.html' %}
{% load static %}

{% block content %}
  <style>
    .footer-container {
      display: none;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #000;
      color: #fff;
      padding: 20px 0;
      z-index: 100;
    }
    
    .show-footer {
      display: block;
    }
    
    .form-control-sm {
      max-width: 280px;
    }
    
    span a,
    h2 a {
      color: #7395ae;
    }
    
    h2 a:hover {
      color: var(--color-fg);
    }
    
    .page-link {
      color: black;
    }

    .content-support{
      height: 60vh;
    }
  </style>
  <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
      <h1 class="display-2 text-dark mb-4 animated slideInDown">Support</h1>
    </div>
  </div>
  <div class="container content-support">
    <div class="row">
      <!-- 좌측 상단 '질문하기' 버튼 -->
      <div class="col-md-2">
        <!-- 백엔드: '질문하기' 버튼 -->
        <a href="{% url 'post_form' %}" class="btn btn-primary">질문하기</a>
      </div>
      <!-- 우측 상단 '검색' 입력란 -->
      <div class="col-md-3 offset-md-7 justify-content-end">
        <!-- 백엔드: '검색' 입력란 -->
        <form action="#" class="sidebar-search-form d-sm-inline-flex flex-row-reverse">
          <input type="text" class="form-control-sm" id="s" placeholder="검색" />
          <span class="bi-search p-1"></span>
        </form>
      </div>
    </div>

    <div class="row">
      <!-- '네비' (카테고리 선택) -->
      <div class="col-md-12 my-4">
        <!-- 백엔드: 카테고리 네비게이션 -->
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <!-- 백엔드: 전체 카테고리 링크 -->
            <a class="nav-link active" href="#">전체</a>
          </li>
          <li class="nav-item">
            <!-- 백엔드: 일반 카테고리 링크 -->
            <a class="nav-link" href="#">일반</a>
          </li>
          <li class="nav-item">
            <!-- 백엔드: 시연 카테고리 링크 -->
            <a class="nav-link" href="#">시연</a>
          </li>
          <li class="nav-item">
            <!-- 백엔드: 제품사용 카테고리 링크 -->
            <a class="nav-link" href="#">제품사용</a>
          </li>
          <li class="nav-item">
            <!-- 백엔드: 기타 카테고리 링크 -->
            <a class="nav-link" href="#">기타</a>
          </li>
        </ul>
      </div>
    </div>

    {% comment %}for{% endcomment %}
    <div class="row mb-3">
      <div class="blog-entry col-6 d-flex blog-entry-search-item">
        <div>
          <span class="date">review 날짜 &bullet; <a href="#">카테고리</a></span>
          <h2><a href="{% url 'review_detail' %}">review 이름</a></h2>
          <p>review 내용</p>
        </div>
      </div>
      <div class="blog-entry col-6 d-flex blog-entry-search-item">
        <div>
          <span class="date">review 날짜 &bullet; <a href="#">카테고리</a></span>
          <h2><a href="{% url 'review_detail' %}">review 이름</a></h2>
          <p>review 내용</p>
        </div>
      </div>
    </div>
  </div>
  {% comment %}endfor{% endcomment %}

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        {% comment %}page 링크 추가{% endcomment %}
        <a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
      </li>
    </ul>
  </nav>

{% endblock %}
