{% extends 'base.html' %}

{% block title %}
  아이디/비밀번호 찾기
{% endblock %}

{% block content %}
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <div class="row justify-content-center align-items-center">
          <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="p-5">
              <div class="text-center">
                <h1 class="text-gray-900 mb-4">아이디/비밀번호 찾기</h1>
                <p>아이디를 잊어버리셨나요?</p>
              </div>
              <div class="container form-container">
                <form class="user" id="forgotPasswordForm" method="POST">
                  {% comment %} email 입력 -> 동일한 이메일 탐색할수있게 {% endcomment %}
                  {% csrf_token %}
                  {{ form }}
                  <div class="row justify-content-center align-items-center text-center">
                    <div class="form-group col-8 mb-4">
                      <input type="email" class="form-control form-control-user" id="InputEmail" aria-describedby="emailHelp" placeholder="이메일을 입력하세요" />
                    </div>
                    <div class="col-5 d-flex">
                      <input type="submit" id="findButton" class="btn btn-primary btn-user btn-block" value="Find" /> <!-- 클래스명 수정 (btn-blockm -> btn-block) -->
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}