{% extends 'base.html' %}

{% block title %}
  아이디/비밀번호 찾기
{% endblock %}

{% block content %}
  <style>
    .container-main {
      margin-bottom: 10rem;
      padding: 0rem 3rem;
    }
  </style>
  <div class="container">
    <div class="container-main">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row justify-content-center align-items-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="text-gray-900 mb-4">아이디/비밀번호 찾기</h1>
                  <p>비밀번호를 잊어버리셨나요?</p>
                </div>
                <div class="container form-container">
                  {% if not password_found %}
                    {% comment %}pw를 찾을 수 있게(리셋) id, email 입력{% endcomment %}
                    <form class="user" action="{% url 'forgot_pw' %}" method="POST">
                      {% csrf_token %}
                      {{ form }}
                      <div class="row justify-content-center align-items-center">
                        <div class="form-group col-8 mb-4">
                          <input type="text" name="username" class="form-control form-control-user" id="username" aria-describedby="idHelp" placeholder="아이디을 입력하세요" />
                        </div>
                        <div class="form-group col-8 mb-4">
                          {% if error %}
                            <p style="color: red;">{{ error }}</p>
                          {% endif %}
                          <input type="email" name="email" class="form-control form-control-user" id="email" aria-describedby="emailHelp" placeholder="이메일을 입력하세요" />
                        </div>
                        <div class="col-5 d-flex">
                          <input type="submit" id="findButton" class="btn btn-primary btn-user btn-block" value="Find" /> <!-- 클래스명 수정 (btn-blockm -> btn-block) -->
                        </div>
                      </div>
                    </form>
                  {% else %}
                    {% if password_changed %}
                      <div class="alert alert-success mt-4" role="alert">비밀번호가 성공적으로 변경되었습니다. 다시 로그인해주세요.</div>
                    {% else %}
                      <div class="alert alert-success mt-4" role="alert">사용자를 찾았습니다. 새로운 비밀번호를 입력하세요.</div>
                      <form class="user" id="forgotPasswordForm" action="{% url 'forgot_pw' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="username" value="{{ user.username }}" />
                        <input type="hidden" name="email" value="{{ user.email }}" />
                        <div class="row justify-content-center align-items-center">
                          <div class="form-group col-8 mb-4">
                            <input type="password" name="new_password" class="form-control form-control-user" id="new_password" aria-describedby="InputPassword" placeholder="재설정할 비밀번호를 입력하세요" />
                          </div>
                          <div class="form-group col-8 mb-4">
                            <input type="password" name="new_password_confirm" class="form-control form-control-user" id="new_password_confirm" aria-describedby="RepeatPassword" placeholder="다시 한 번 비밀번호를 입력하세요" />
                          </div>
                          <div class="col-6 d-flex justify-content-center text-center">
                            <input type="submit" id="findButton" class="btn btn-primary btn-user btn-block" value="Change!" /> <!-- 클래스명 수정 (btn-blockm -> btn-block) -->
                          </div>
                        </div>
                      </form>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
