{% extends 'base.html' %}
{% load static %}

{% block title %}
  로그인
{% endblock %}

{% block content %}
  <style>
    .form-group input[type='text'],
    .form-group input[type='password'] {
      border: 1px solid #ccc;
      border-radius: 20px;
      text-align: center;
    }
    .btn-user {
      border-radius: 10rem;
      padding: 0.5rem 5rem;
    }
  </style>
  <script defer src="{% static 'js/custom/login.js' %}"></script>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row justify-content-center">
              <div class="text-center my-3">
                <h1 class="h2 text-gray-900">Login Page</h1>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <div class="p-5">
                  {% comment %}id, pw{% endcomment %}
                  <form action="{% url 'user_login' %}" class="validated_form" method="post">
                    {% csrf_token %}
                    {% if error %}
                      <p style="color: #C71585;">{{ error }}</p>
                    {% endif %}
                    <form class="validated_form user">
                      <div class="form-group mb-3">
                        <input type="text" class="form-control form-control-user" id="InputID" name="username" placeholder="ID" value="{{ remembered_username|default_if_none:'' }}" required />
                        <div class="valid-id"></div>
                      </div>
                      <div class="form-group mb-3">
                        <input type="password" class="form-control form-control-user" id="InputPassword" name="password" placeholder="Password" required />
                        <div class="valid-pw"></div>
                      </div>
                      <div class="form-group mb-3">
                        <div class="custom-control custom-checkbox small text-center">
                          <input type="checkbox" class="custom-control-input" name="remember_username" id="remember_username" />
                          <label class="custom-control-label" for="remember_username">Remember Me</label>
                        </div>
                      </div>
                      <div class="form-group mb-3 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-user btn-block text-center">Login</button>
                      </div>
                    </form>
                  </form>
                  <hr />
                  <div class="text-center">
                    <a class="small" href="{% url 'signup' %}">Create an Account!</a>
                  </div>
                  <div class="text-center small">
                    <a href="{% url 'forgot_id' %}">Find ID</a> /
                    <a href="{% url 'forgot_pw' %}">Find PW</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
