{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <div class="row justify-content-center align-items-center">
          <div class="p-5">
            <div class="text-center">
              <h1 class="text-gray-900 mb-4">Create an Account!</h1>
            </div>
            {% comment %} 회원가입 폼 : 이름, id, pw, repeat pw, 개인정보 확인 여부 {% endcomment %}
            <form class="user" method="POST" novalidate>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="이름을 입력하세요" required/>
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-user" id="inputID" placeholder="ID를 입력하세요" required/>
                </div>
              </div>
              <div class="form-group">
                <div class="mb-3">
                  <input type="password" class="form-control form-control-user" id="InputPassword" placeholder="Password" required/>
                </div>
                <div>
                  <input type="password" class="form-control form-control-user" id="RepeatPassword" placeholder="RepeatPassword" required/>
                </div>
              </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox small d-flex justify-content-center">
                  <input type="checkbox" class="custom-control-input" id="customCheck" required/>
                  <label class="custom-control-label" for="customCheck">개인정보처리방침 및 이용약관 동의 여부</label>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <input type="submit" class="btn btn-primary btn-user btn-block" value="Register" /> 
              </div>
            </form>
            <hr />
            <div class="text-center">
              <a class="small" href="{% url 'forgot-id' %}">Forgot Password?</a>
            </div>
            <div class="text-center">
              <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
