{% extends 'base.html' %}

{% block content %}
  {% load static %}
  <style>
    .accordion-button:not(.collapsed) {
      background-color: #becdd9;
      color:white;
    }

    .page-link{
      color: black;
    }
  </style>

  <div class="container mt-4">
    <div class="row justify-content-evenly">
      <!-- 백엔드: 좌측 상단 프로필 이미지 -->
      <div class="col-sm-4 text-center mb-4">
        <div>
          <img src="{% static 'img/person_2.jpg' %}" class="rounded-circle profile-image" alt="{{ user.username }}" width="300" height="300" data-toggle="modal" data-target="#profilePictureModal" />
        </div>
        <div class="profile-box justify-content-center">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">프로필 수정</button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <form method="post">      <!-- 이부분 css 수정원하시면 forms.py에 주석 표시했읍니다 -->
                    {% csrf_token %}
                    <p>{{ form.profile_message.label_tag }} {{ form.profile_message }}</p>
                    <p>{{ form.git_address.label_tag }} {{ form.git_address }}</p>
                    <button type="submit">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="container">
          <div class="row">
            {% comment %}for{% endcomment %}
            <div class="col-md-6 mb-4">
              <!-- 이미지 클릭 시 uploadImage 함수 호출 -->
              <a href="fog_result" onclick="uploadImage('{% static 'img/carousel-1.jpg' %}', 'after_img', 'img_result.json')"><img src="{% static 'img/carousel-1.jpg' %}" class="img-fluid grid-image" alt="Grid Image" /></a>
            </div>
            <div class="col-md-6 mb-4">
              <!-- 이미지 클릭 시 uploadImage 함수 호출 -->
              <a href="fog_result" onclick="uploadImage('{% static 'img/carousel-1.jpg' %}', 'after_img', 'img_result.json')"><img src="{% static 'img/carousel-1.jpg' %}" class="img-fluid grid-image" alt="Grid Image" /></a>
            </div>
            <div class="col-md-6 mb-4">
              <!-- 이미지 클릭 시 uploadImage 함수 호출 -->
              <a href="fog_result" onclick="uploadImage('{% static 'img/carousel-1.jpg' %}', 'after_img', 'img_result.json')"><img src="{% static 'img/carousel-1.jpg' %}" class="img-fluid grid-image" alt="Grid Image" /></a>
            </div>
            <div class="col-md-6 mb-4">
              <!-- 이미지 클릭 시 uploadImage 함수 호출 -->
              <a href="fog_result" onclick="uploadImage('{% static 'img/carousel-1.jpg' %}', 'after_img', 'img_result.json')"><img src="{% static 'img/carousel-1.jpg' %}" class="img-fluid grid-image" alt="Grid Image" /></a>
            </div>
            {% comment %}endfor{% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 백엔드: 전체 페이지네이션 -->
  {% comment %}pagination{% endcomment %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
      </li>
    </ul>
  </nav>
  <script>
    function saveProfile() {
      // textarea에서 프로필 내용 가져오기
      var profileContent = document.getElementById('profileContent').value;
      // 여기에서 서버에 프로필 내용을 저장하는 로직을 추가할 수 있습니다.

      // 이 예시에서는 콘솔에 출력하는 것으로 대체하였습니다.
      console.log('프로필 내용 저장: ' + profileContent);
  }
    
    function uploadImage(imagePath, afterImgPath, imgResultJsonPath) {
      // 백엔드: 이미지 업로드 및 파일 불러오기 로직...
      // imagePath, afterImgPath, imgResultJsonPath를 서버에 전송하고, 결과를 받아올 수 있습니다.
      console.log('이미지 업로드: ' + imagePath)
    
      // 여기에서 결과를 받아와서 처리하는 로직을 추가할 수 있습니다.
      // 업로드한 이미지의 경로와 관련 파일 경로를 포함하여 fog-result.html로 리다이렉트
      window.location.href = "{% url 'fog' %}?image_path=" + imagePath + '&after_img_path=' + afterImgPath + '&img_result_json_path=' + imgResultJsonPath
    }
  </script>
{% endblock %}
