{% extends 'base.html' %}
{% load FE_tags %}

{% block content %}
  {% load static %}
  <style>
    .accordion-button:not(.collapsed) {
      background-color: #becdd9;
      color: white;
    }
    
    .page-link {
      color: black;
    }
  </style>

  <div class="container mt-4">
    <div class="row justify-content-evenly">
      <!-- 백엔드: 좌측 상단 프로필 이미지 -->
      <div class="col-sm-4 text-center mb-4">
        <div>
          <h5>{{request.user.last_name}}님! <br>프로필 사진을 바꾸려면 사진을 클릭하세요.</h5>
          <img src="{{ profile.profile_picture.url }}" id="profile-image-preview" class="rounded-circle profile-image" 
          alt="{{ profile.user.username }}" width="300" height="300" 
          onclick="document.getElementById('id_profile_picture').click();" />
          <form method="post" enctype="multipart/form-data" id="profile-picture-form">
            {% csrf_token %}
            <input type="file" name="profile_picture" class="rounded-circle profile-image" id="id_profile_picture" style="display: none;" onchange="previewImage(this);">
          </form>
        </div>
        <div class="profile-box justify-content-center mt-4">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">프로필 수정</button></h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <form method="post" id="profile-info-form" enctype="multipart/form-data" >
                  {% csrf_token %}
                  <div>
                    <!-- 이부분 css 수정원하시면 forms.py에 주석 표시했읍니다 -->
                    <p class="mt-2" for="id_profile_message">{{ profile_info_form.profile_message.label }} {{ profile_info_form.profile_message }}</p>
                  </div>
                  <div>
                    <p for="id_git_address">{{ profile_info_form.git_address.label }} {{ profile_info_form.git_address }}</p>
                  </div>
                  <button class="btn btn-primary rounded-pill" type="submit" name="form_type" value="profile_info_form">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <h5>총 처리된 이미지: {{total_images}}장이 존재합니다.</h5>
        <div class="container">
          <div class="row">
            {% for image in page_obj %}
            <div class="col-md-6 mb-4">
                <h5>{% calculate_order page_obj.number forloop.counter %}번째 Original Image</h5>
                <img src="{{ image.original_image.url }}" class="img-fluid grid-image" alt="Original Image" />
              </div>
              <div class="col-md-6 mb-4">
                <h5>{% calculate_order page_obj.number forloop.counter %}번째 Processed Image</h5>
                <img src="{{ image.processed_image.url }}" class="img-fluid grid-image" alt="Processed Image" />
              </div>
              <hr>
              {% if forloop.counter|divisibleby:2 %}
                </div><div class="row">
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 백엔드: 전체 페이지네이션 -->
  {% comment %}pagination{% endcomment %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}
  
      {% for num in page_obj.paginator.page_range %}
        <li class="page-item {% if num == page_obj.number %}active{% endif %}">
          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
      {% endfor %}
  
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
  <script>
    function saveProfile() {
      var profileContent = document.getElementById('profileContent').value
      console.log('프로필 내용 저장: ' + profileContent)
    }
    
    function uploadImage(imagePath, afterImgPath, imgResultJsonPath) {
      console.log('이미지 업로드: ' + imagePath)
      window.location.href = "{% url 'fog' %}?image_path=" + imagePath + '&after_img_path=' + afterImgPath + '&img_result_json_path=' + imgResultJsonPath
    }
  </script>
{% endblock %}
