{% extends 'base.html' %}

{% block content %}
  <style>
    .circle-container {
      display: flex;
      justify-content: space-around;
      margin: 20px;
    }
    
    .circle {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    
    .content-box {
      max-width: auto;
      border: none;
      display: none;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 20px auto;
    }
    
    .main-container {
      margin-bottom: 10rem;
    }
    
    .content-user-profile {
      border: 1px solid var(--color-fg);
      border-radius: 2rem;
    }
  </style>
  <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
      <h1 class="display-2 text-dark mb-4 animated slideInDown">About Us</h1>
    </div>
  </div>
  <div class="container main-container">
    <div class="circle-container mb-5">
      {% for profile in profiles %}
        <div class="row text-center">
          <div class="col mx-1 d-flex flex-column align-items-center mb-2">
            <div id="admin-{{ forloop.counter }}" class="circle" onclick="showContent({{ forloop.counter }})" 
            style="background-image: url('{{ profile.profile_picture.url }}'); background-size: cover; center no-repeat;"></div>
          </div>
          <label for="admin-{{ forloop.counter }}">{{ profile.user.get_full_name }}</label>
        </div>
      {% endfor %}
    </div>
    {% for profile in profiles %}
    <div class="content-box"  id="content{{ forloop.counter }}" style="display: flex;">
      <div class="container">
        <div class="content-user-profile mx-5 p-5">
          <div class="row justify-content-evenly">
            <div class="col-8">
              <div class="admin-name mb-4">
                <h3>{{ profile.user.get_full_name }}</h3>
              </div>
              <div class="admin-self-introduce mb-4">
                <p>{{ profile.profile_message }}</p>
              </div>
              <div class="admin-github">
                <p class="mb-2">
                  <a href="{{ profile.git_address }}"><i class="fab fa-github fa-lg text-primary me-3 color-changed"></i>{{ profile.git_address }}</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <script>
    // 처음에는 모든 content-box를 숨김
    document.querySelectorAll('.content-box').forEach((box) => (box.style.display = 'none'));
  
    function showContent(index) {
      // 모든 content-box를 숨김
      document.querySelectorAll('.content-box').forEach((box) => (box.style.display = 'none'));
      // 클릭한 content-box만 보이도록 함
      document.getElementById(`content${index}`).style.display = 'flex';
    }
  </script>
  
{% endblock %}
