{% extends 'base.html' %}

{% block content %}
  <style>
    .circle-container {
      display: flex;
      justify-content: space-around;
      margin: 20px;
    }
    
    .circle {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: lightblue;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    
    .content-box {
      max-width: auto;
      border: none;
      display: none;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 20px auto;
    }
    
    .main-container {
      margin-bottom: 10rem;
    }
    
    .content-user-profile {
      border: 1px solid var(--color-fg);
      border-radius: 2rem;
    }
  </style>
  <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
      <h1 class="display-2 text-dark mb-4 animated slideInDown">About Us</h1>
    </div>
  </div>
  <div class="container main-container">
    <div class="circle-container mb-5">
      <div class="row text-center">
        <div class="col mx-1 d-flex flex-column align-items-center mb-2">
          {% comment %}프사로 하고 싶은 것 있으면 img/about안에서 선택하시면 됩니다!{% endcomment %}
          {% comment %} https://emojipedia.org/ko/apple   에서 원하는 거 다운받아서 폴더 내에 넣으시면 됩니다! {% endcomment %}
          <div id="admin-1" class="circle" onclick="showContent(1)" style="background: url('/static/img/about/ghost.png') center no-repeat;"></div>
        </div>
        <label for="admin-1">김민제</label>
      </div>
      <div class="row text-center">
        <div class="col mx-1 d-flex flex-column align-items-center mb-2">
          <div id="admin-2" class="circle" onclick="showContent(2)" style="background: url('/static/img/about/chick.png') center no-repeat;"></div>
        </div>
        <label for="admin-2">강수현</label>
      </div>
      <div class="row text-center">
        <div class="col mx-1 d-flex flex-column align-items-center mb-2">
          {% comment %}admin image{% endcomment %}
          <div id="admin-3" class="circle" onclick="showContent(3)" style="background: url('/static/img/about/unicorn.png') center no-repeat;"></div>
        </div>
        <label for="admin-3">이동엽</label>
      </div>
      <div class="row text-center">
        <div class="col mx-1 d-flex flex-column align-items-center mb-2">
          {% comment %}admin image{% endcomment %}
          <div id="admin-4" class="circle" onclick="showContent(4)" style="background: url('/static/img/about/robot.png') center no-repeat;"></div>
        </div>
        <label for="admin-4">장우림</label>
      </div>
      <div class="row text-center">
        <div class="col mx-1 d-flex flex-column align-items-center mb-2">
          {% comment %}admin image{% endcomment %}
          <div id="admin-5" class="circle" onclick="showContent(5)" style="background: url('/static/img/about/dog.png') center no-repeat;"></div>
        </div>
        <label for="admin-5">홍태광</label>
      </div>
    </div>

    <div class="content-box" id="content1" style="display: flex;">
      <div class="container">
        <div class="content-user-profile mx-5 p-5">
          <div class="row justify-content-evenly">
            <div class="col-8">
              <div class="admin-name mb-4">
                <h3>김민제</h3>
              </div>
              <div class="admin-self-introduce mb-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nam fuga quo consequatur reiciendis consectetur aliquam obcaecati ipsa! Necessitatibus, neque odit. Odit repellendus dolorum repudiandae optio suscipit rerum minima velit.</p>
              </div>
              <div class="admin-github">
                <p class="mb-2">
                  <a href="https://github.com/eppae"><i class="fab fa-github fa-lg text-primary me-3 color-changed"></i>github.com/eppae</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-box" id="content2">
      <div class="container">
        <div class="content-user-profile mx-5 p-5">
          <div class="row justify-content-evenly">
            <div class="col-8">
              <div class="admin-name mb-4">
                <h3>강수현</h3>
              </div>
              <div class="admin-self-introduce mb-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nam fuga quo consequatur reiciendis consectetur aliquam obcaecati ipsa! Necessitatibus, neque odit. Odit repellendus dolorum repudiandae optio suscipit rerum minima velit.</p>
              </div>
              <div class="admin-github">
                <p class="mb-2">
                  <a href="https://github.com/Imshyeon"><i class="fab fa-github fa-lg text-primary me-3 color-changed"></i>github.com/Imshyeon</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-box" id="content3">
      <div class="container">
        <div class="content-user-profile mx-5 p-5">
          <div class="row justify-content-evenly">
            <div class="col-8">
              <div class="admin-name mb-4">
                <h3>이동엽</h3>
              </div>
              <div class="admin-self-introduce mb-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nam fuga quo consequatur reiciendis consectetur aliquam obcaecati ipsa! Necessitatibus, neque odit. Odit repellendus dolorum repudiandae optio suscipit rerum minima velit.</p>
              </div>
              <div class="admin-github">
                <p class="mb-2">
                  <a href="https://github.com/Imshyeon"><i class="fab fa-github fa-lg text-primary me-3 color-changed"></i>github.com/Imshyeon</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-box" id="content4">
      <div class="container">
        <div class="content-user-profile mx-5 p-5">
          <div class="row justify-content-evenly">
            <div class="col-8">
              <div class="admin-name mb-4">
                <h3>장우림</h3>
              </div>
              <div class="admin-self-introduce mb-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nam fuga quo consequatur reiciendis consectetur aliquam obcaecati ipsa! Necessitatibus, neque odit. Odit repellendus dolorum repudiandae optio suscipit rerum minima velit.</p>
              </div>
              <div class="admin-github">
                <p class="mb-2">
                  <a href="https://github.com/Imshyeon"><i class="fab fa-github fa-lg text-primary me-3 color-changed"></i>github.com/Imshyeon</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-box" id="content5">
      <div class="container">
        <div class="content-user-profile mx-5 p-5">
          <div class="row justify-content-evenly">
            <div class="col-8">
              <div class="admin-name mb-4">
                <h3>홍태광</h3>
              </div>
              <div class="admin-self-introduce mb-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nam fuga quo consequatur reiciendis consectetur aliquam obcaecati ipsa! Necessitatibus, neque odit. Odit repellendus dolorum repudiandae optio suscipit rerum minima velit.</p>
              </div>
              <div class="admin-github">
                <p class="mb-2">
                  <a href="https://github.com/Imshyeon"><i class="fab fa-github fa-lg text-primary me-3 color-changed"></i>github.com/Imshyeon</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function showContent(index) {
      document.querySelectorAll('.content-box').forEach((box) => (box.style.display = 'none'))
      document.getElementById(`content${index}`).style.display = 'flex'
    }
  </script>
{% endblock %}
