{% extends 'base.html' %}
{% load static %}
<link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet" />

{% block content %}
  <style>
    .footer-container {
      display: none;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #000;
      color: #fff;
      padding: 20px 0;
      z-index: 100;
    }
    
    .show-footer {
      display: block;
    }
    
    .form-control-sm {
      max-width: 280px;
    }
    
    a,
    a:hover {
      color: var(--color-fg);
    }
    
    .nav-link,
    h2 a {
      color: #7395ae;
    }
    .nav-link:hover,
    h2 a:hover {
      color: var(--color-fg);
    }
    
    .page-link {
      color: black;
    }
  </style>

  {% comment %}디자인 추가 필요{% endcomment %}
  <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
      <h1 class="display-2 text-dark mb-4 animated slideInDown">News</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb justify-content-center mb-0 bg-transparent">
          <li class="breadcrumb-item">
            <a href="{% url 'community' %}">Community</a>
          </li>
          <li class="breadcrumb-item">
            <a href="about_us">About Us</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="section search-result-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-12 my-3">
          <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
            <!-- '네비' (카테고리 선택) -->
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'news_list' %}">전체</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'news_list_category' n_category='normal' %}">일반</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'news_list_category' n_category='use' %}">제품사용</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'news_list_category' n_category='preview' %}">시연</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'news_list_category' n_category='etc' %}">기타</a>
              </li>
            </ul>
            <div class="row">
              <form class="form-inline text-end justify-content-end">
                <div class="sidebar-box search-form-wrap mb-2">
                  <form action="#" class="sidebar-search-form">
                    <input type="text" class="form-control-sm" id="s" placeholder="검색" />
                  </form>
                </div>
                {% comment %}해당 부분은 admin만 보이게 해야함{% endcomment %}
                {% if user.is_superuser %}
                  <div>
                    <!-- 백엔드: '질문하기' 버튼 -->
                    <a href="{% url 'post_form' %}" class="btn btn-primary">글쓰기</a>
                  </div>
                {% endif %}
              </form>
            </div>
          </nav>
        </div>
      </div>

      {% comment %}for 문으로 반복 필요{% endcomment %}
      <div class="row posts-entry">
        {% csrf_token %}
        {% for newspost in newsposts %}
          <div class="col-12">
            <div class="blog-entry d-flex blog-entry-search-item mb-5">
              <div>
                <span class="date">{{ newspost.created_at }} <a href="#">{{ newspost.category }}</a></span>
                <h2><a href="{% url 'news_detail' %}">{{ newspost.title }}</a></h2>
                <p>{{ newspost.text }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

        {% comment %}pagination{% endcomment %}
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
{% endblock %}
