{% extends 'base.html' %}
{% load static %}

{% block content %}
  <style>
    .footer-container {
      display: none;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #000;
      color: #fff;
      padding: 20px 0;
      z-index: 100;
    }
    
    .show-footer {
      display: block;
    }
    
    p a {
      color: #7395ae;
    }
    
    p a:hover {
      color: var(--color-fg);
    }
  </style>
  <script defer src="{% static 'js/custom/support.js' %}?ver=2"></script>

  <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
      {% comment %}BE : post에 대한 title, author, date, category{% endcomment %}
      <h1 class="display-2 text-dark mb-4 animated slideInDown">{{newspost.title}}</h1>
      <div class="post-meta align-items-center text-center">
        <span class="d-inline-block mt-1">By. {{newspost.writer}}</span>
        <span>&nbsp;-&nbsp; {{newspost.created_at}}</span>
        {% comment %}해당 카테고리에 대한 링크{% endcomment %}
        <span class="d-block mt-1 fst-italic category-link"><a href="#" class="text-white">{{newspost.category}}</a></span>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row blog">
        <div class="col text-end mb-4">
          {% comment %}edit -> 해당 포스트 내용이 반영되도록.. / delete{% endcomment %}

          {% comment %} {% if user.is_authenticated and news.writer == user.user_id %}
            {% endcomment %}
            <a href="{% url 'post_form' %}" class="btn btn-info"><i class="fas fa-edit"></i></a>
            <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
            {% comment %}
          {% endif %} {% endcomment %}
        </div>
        <div class="post-content-body mb-5">
          {{ newspost.text }}
        </div>
        <div class="post-good-or-not">
          {% comment %}좋아요/싫어요{% endcomment %}
          {% if user.is_authenticated %}
            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm"><i class="fas fa-thumbs-up text-white"></i></button>
            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm"><i class="fas fa-thumbs-down"></i></button>
          {% else %}
            <div class="valid text-danger mb-2">로그인이 필요한 서비스입니다.</div>
            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm disabled"><i class="fas fa-thumbs-up text-white"></i></button>
            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm disabled"><i class="fas fa-thumbs-down"></i></button>
          {% endif %}
        </div>

        <div class="post comment">
          <div class="pt-5 comment-wrap">
            {% comment %}댓글 개수{% endcomment %}
            <h3 class="mb-5 heading">Total Comment(N)</h3>
            <ul class="comment-list">
              {% comment %}1. 대댓글 없는 댓글{% endcomment %}
              <li class="comment">
                <div class="comment-body">
                  <h3>Comment Author 작성자</h3>
                  <div class="meta">Comment Date 날짜</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                  <p>
                    {% comment %}댓글 작성에 대한 댓글 폼.. 네이버기사처럼 바로 밑에 나올수 있는 동작 필요 (FE){% endcomment %}
                    <a id="reply-btn" class="reply rounded" data-bs-toggle="collapse" href="{% url 'create_comment' %}" aria-expanded="false" aria-controls="collapseExample">Reply</a>
                    {% comment %}대댓글 작성 폼 p 태그 > a 태그 밑에 있으면 됨!{% endcomment %}
                    <div class="collapse col-6" id="reply-form-content">
                      <div class="card card-body">
                        <form action="post" class="validated_form">
                          <div class="form-group mb-4">
                            <div class="row">
                              <div class="username col-5">
                                <label for="name">이름</label>
                                {% comment %}user 이름 받아오기{% endcomment %}
                                <input type="text" class="form-control" value="{{ comments.writer }}" id="name" disabled />
                              </div>
                              <div class="date col-7">
                                <label for="name">날짜</label>
                                {% comment %}날짜 받아오기{% endcomment %}
                                <input type="text" class="form-control" value="{{ comments.created_at }}" id="date" disabled />
                              </div>
                            </div>
                          </div>
                          <div class="form-group mb-4">
                            <label for="message">Message</label>
                            <textarea name="" id="message" cols="10" rows="3" class="form-control"></textarea>
                            <div class="valid-msg-input text-danger" style="display: none;">내용을 입력해주세요.(최대 1000자)</div>
                            <div class="valid-msg text-danger" style="display: none;">입력 가능한 글자수를 초과하였습니다.</div>
                          </div>
                          <div class="form-group d-flex justify-content-end">
                            {% if user.is_authenticated %}
                              <input type="submit" value="답글 쓰기" class="btn btn-primary" />
                            {% else %}
                              <div class="valid text-danger">로그인이 필요한 서비스입니다.</div>
                            {% endif %}
                          </div>
                        </form>
                      </div>
                    </div>
                  </p>
                </div>
              </li>

              {% comment %}대댓글 있는 댓글{% endcomment %}

            </ul>
            {% comment %}댓글 작성 폼{% endcomment %}
            <div class="comment-form-wrap pt-5">
              <h3 class="mb-3">Leave a comment</h3>
              <form method="post" action="{% url 'create_comment' post_num=newspost.post_num %}" class="validated_form p-4">
                {% csrf_token %}
                <div class="form-group mb-4">
                  <label for="name">작성자 *</label>
                  <input type="text" class="form-control" value="{{ writer.username }}" name="comment_name" id="comment_name" disabled />
                </div>
                <div class="form-group mb-4">
                  <label for="message">Message</label>
                  <textarea name="comment_message" id="comment_message" cols="30" rows="10" class="form-control"></textarea>
                  <div class="valid-msg-input text-danger" style="display: none;">내용을 입력해주세요.(최대 1000자)</div>
                  <div class="valid-msg text-danger" style="display: none;">입력 가능한 글자수를 초과하였습니다.</div>
                </div>
                <div class="form-group">
                  {% if user.is_authenticated %}
                    <input type="submit" value="Post Comment" class="btn btn-primary" />
                  {% else %}
                    <div class="valid text-danger">로그인이 필요한 서비스입니다.</div>
                  {% endif %}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
