{% extends 'base.html' %}
{% load static %}
<link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet" />

{% block content %}
  <style>
    .footer-container {
      display: none;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #000;
      color: #fff;
      padding: 20px 0;
      z-index: 100;
    }
    
    .show-footer {
      display: block;
    }
    
    .form-control-sm {
      max-width: 280px;
    }
    
    a,
    a:hover {
      color: var(--color-fg);
    }
    
    .nav-link,
    h2 a {
      color: #7395ae;
    }
    .nav-link:hover,
    h2 a:hover {
      color: var(--color-fg);
    }
    
    .page-link {
      color: black;
    }
  </style>

  {% comment %}디자인 추가 필요{% endcomment %}
  <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
      <h1 class="display-2 text-dark mb-4 animated slideInDown">News</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb justify-content-center mb-0 bg-transparent">
          <li class="breadcrumb-item">
            <a href="{% url 'community' %}">Community</a>
          </li>
          <li class="breadcrumb-item">
            <a href="about_us">About Us</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="section search-result-wrap">
    <div class="container">
      <div class="row">
        <div class="col">
          {% if user.is_superuser %}
            <div>
              <!-- 백엔드: '질문하기' 버튼 -->
              <a href="{% url 'post_form' %}" class="btn btn-primary">글쓰기</a>
            </div>
          {% endif %}
        </div>
        <div class="col d-flex justify-content-end">
          <form action="#" class="sidebar-search-form d-sm-inline-flex flex-row-reverse">
            <form action="{% url 'contact_list' %}" method="GET" id="BoardSearch" name="BoardSearch">
              <input type="hidden" id="contact_kw" name="contact_kw" value="{{ contact_kw|default_if_none:'' }}" />
              <input type="hidden" id="page" name="page" value="{{ page }}" />
            </form>
            <div class="navbar-nav align-items-center mx-1">
              <div class="nav-item d-flex align-items-center" style="width:100%;">
                <input type="text" class="form-control border-1 shadow-none" placeholder="게시글 검색" aria-label="Search..." id="contact_search_kw" name="contact_search_kw" value="{{ contact_search_kw|default_if_none:'' }}" />
              </div>
            </div>
            <div style="list-style:none;">
              <button class="btn btn-primary" type="button" id="btnSearch" aria-label="buttonForSearch"><i class="fas fa-search"></i></button>
            </div>
          </form>
        </div>
      </div>

      {% comment %}for 문으로 반복 필요{% endcomment %}
      <div class="row posts-entry">
        {% csrf_token %}
        {% for newspost in newsposts %}
          <div class="col-12">
            <div class="blog-entry d-flex blog-entry-search-item mb-5">
              <div>
                <span class="date">{{ newspost.created_at }} <a href="#">{{ newspost.category }}</a></span>
                <h2><a href="{% url 'news_detail' post_num=newspost.post_num %}">{{ newspost.title }}</a></h2>
                <p>{{ newspost.text }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

    {% comment %}페이지네이션{% endcomment %}
  <section>
    <div class="row posts-entry">
      <div class="col">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% if recent_pages.has_previous %}
              <li class="page-item prev">
                <a class="page-link" href="?page={{ recent_pages.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
              </li>
            {% endif %}

            {% for page_number in recent_pages.paginator.page_range %}
              {% if page_number >= recent_pages.number|add:-5 and page_number <= posts.number|add:5 %}
                {% if page_number == recent_pages.number %}
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}

            {% if recent_pages.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ recent_pages.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </section>
{% endblock %}
