{% extends 'base.html' %}
{% load static %}

{% block content %}
  <style>
    .footer-container {
      display: none; 
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #000; 
      color: #fff; 
      padding: 20px 0; 
      z-index: 100;
    }
    
    .show-footer {
      display: block; 
    }

    .form-control-sm {
      max-width: 280px;
    }
  </style>

  {% comment %}디자인 추가 필요{% endcomment %}
  <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
      <h1 class="display-2 text-dark mb-4 animated slideInDown">News</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb justify-content-center mb-0 bg-transparent">
          <li class="breadcrumb-item">
            <a href="{% url 'community' %}">Community</a>
          </li>
          <li class="breadcrumb-item">
            <a href="about_us">About Us</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="section search-result-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-12 my-3">
          <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
            <!-- '네비' (카테고리 선택) -->
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link active" href="#">전체</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">일반</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">제품사용</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">기타</a>
              </li>
            </ul>
            <div class="row">
              <form class="form-inline text-end justify-content-end">
                <div class="sidebar-box search-form-wrap mb-2">
                  <form action="#" class="sidebar-search-form">
                    <input type="text" class="form-control-sm" id="s" placeholder="검색" />
                  </form>
                </div>
                <div class="col text-end">
                  <a href="{% url 'post_form' %}" class="btn btn-primary">질문하기</a>
                </div>
              </form>
            </div>
          </nav>
        </div>
      </div>

      {% comment %}for 문으로 반복 필요{% endcomment %}
      <div class="row posts-entry">
        <div class="col">
          <div class="blog-entry d-flex blog-entry-search-item mb-4">
            <div>
              <span class="date">기사 날짜 &bullet; <a href="#">카테고리</a></span>
              <h2><a href="{% url 'news_detail' %}">기사 이름</a></h2>
              <p>기사 내용</p>
            </div>
          </div>
          <div class="blog-entry d-flex blog-entry-search-item mb-4">
            <div>
              <span class="date">기사 날짜 &bullet; <a href="#">카테고리</a></span>
              <h2><a href="{% url 'news_detail' %}">기사 이름</a></h2>
              <p>기사 내용</p>
            </div>
          </div>

          {% comment %} pagination {% endcomment %}
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <script>
    window.addEventListener('scroll', function () {
      var footer = document.querySelector('.footer-container');
      var scrollPosition = window.innerHeight + window.scrollY; 

      if (scrollPosition >= document.body.offsetHeight - 30) {
        footer.style.display = 'block';
      } else {
        footer.style.display = 'none'; 
      }
    });
  </script>
{% endblock %}
