body {
  /* This is the height of your footer */
  font-family: "IBM Plex Sans KR", sans-serif;
}

.footer-container {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(233, 231, 231);
  color: #fff;
  padding: 20px 0;
  z-index: 100;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-family: "IBM Plex Sans KR", sans-serif;
}

.page-header {
  background: center center no-repeat url("../../static/img/fog.jpg");
}

.home,
.login-user {
  color: #2779a7;
}

.nav-link {
  color: #2779a7;
}

.color-changed,
.footer .btn.btn-link::before {
  color: #7395ae !important;
}

.btn-primary,
.btn-primary:hover {
  background-color: #7395ae;
  border-color: #7395ae;
}

.navbar .navbar-nav .nav-link:hover {
  color: #becdd9;
}

.dropdown-item:active {
  background-color: #becdd9;
}

canvas {
  display: block;
}

.backToTop {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 99;
}
