{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <style>
    .card {
      height: 40vh;
      background: none; 
      border: none;
    }
    .card-header{
      background: none;
      border: none;
    }
  </style>
  <div class="section">
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h3 id="uploadText" class="row justify-content-center">파일을 업로드 해주세요.</h3>
        </div>
        <div class="card-body">
          <div class="uploaded-content" style="display: none;">
            <div class="row justify-content-center">
              <div class="col-lg-7 mb-4 mb-lg-0">
                <video id="uploadedVideo" class="embed-responsive" style="display: none;" autoplay></video>
                <img id="uploadedImage" class="img-fluid" style="display: none;" alt="Uploaded Image" />
              </div>
              <div class="col-lg-4 ps-lg-2">
                <div class="mb-5">
                  <h2 class="text-black h4">결과 설명</h2>
                </div>
                <div class="d-flex mb-3 service-alt">
                  <div>
                    <span class="bi-wallet-fill me-4"></span>
                  </div>
                  <div>
                    <h3>그래프</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias esse dolores cum facere facilis doloribus libero, optio impedit sunt ullam commodi explicabo repudiandae eaque laudantium architecto eum molestias. Voluptate, beatae.</p>
                  </div>
                </div>

                <div class="d-flex mb-3 service-alt">
                  <div>
                    <span class="bi-pie-chart-fill me-4"></span>
                  </div>
                  <div>
                    <h3>수치</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nostrum dignissimos cum corrupti, beatae totam fugit similique fugiat consequatur natus non in nulla nam harum ab sequi inventore doloremque tenetur!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="file-upload text-center justify-center justify-content-center items-center" style="position: absolute; bottom: 2px; right: 50%;">
            <input type="file" style="display: none;" id="fileInput" accept="image/*, video/*" />
            <label for="fileInput" class="btn btn-primary rounded-full">UPLOAD</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    const fileInput = document.querySelector('#fileInput')
    const uploadedVideo = document.querySelector('#uploadedVideo') // 비디오
    const uploadedImage = document.querySelector('#uploadedImage') // 이미지
    const uploadText = document.getElementById('uploadText') // h3 '파일을 업로드하세요'
    const uploadedContent = document.querySelector('.uploaded-content')
    
    fileInput.addEventListener('change', function () {
      const selectedFile = fileInput.files[0]
      if (selectedFile) {
        if (selectedFile.type.startsWith('image/')) {
          uploadedContent.style.display = 'block'
          uploadedImage.style.display = 'block' // 이미지 요소를 표시
          uploadText.style.display = 'none'
          uploadedImage.src = URL.createObjectURL(selectedFile) // 이미지를 업로드한 파일로 설정
        } else if (selectedFile.type.startsWith('video/')) {
          uploadedContent.style.display = 'block'
          uploadedVideo.style.display = 'block' // 비디오 요소를 표시
          uploadText.style.display = 'none'
          uploadedVideo.src = URL.createObjectURL(selectedFile) // 비디오를 업로드한 파일로 설정
        } else {
          alert('Please upload an image or a video file.')
        }
      }
    })
  </script>
{% endblock %}
