{% load static %}

<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Front End</title>
    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;300;400;500;600;700&display=swap" rel="stylesheet" />

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/fontawesome-free/css/all.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
    <link href="{% static 'css/darkmode.css' %}" rel="stylesheet" />
    <style>
      .page-header{
        background : center center no-repeat url("../../static/img/fog.jpg")
      }

      .home, .login-user{
        color: #2779a7;
      }

      .nav-link{
        color: #2779a7;
      }

      .color-changed, .footer .btn.btn-link::before{
        color: #7395AE !important;
      }

      .btn-primary, .btn-primary:hover{
        background-color: #7395AE;
        border-color: #7395AE;
      }

      .navbar .navbar-nav .nav-link:hover{
        color: #becdd9;
      }

      .dropdown-item:active{
        background-color: #becdd9;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid bg-white sticky-top">
      <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-2 py-lg-0">
          <a href="{% url 'home' %}" class="nav-item nav-link active home">HOME</a>
          <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
              <a href="{% url 'fog' %}" class="nav-item nav-link">Our Product</a>
              <div class="nav-item dropdown">
                <a href="{% url 'community' %}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Community</a>
                <div class="dropdown-menu bg-light rounded-0 m-0">
                  <a href="{% url 'about_us' %}" class="dropdown-item">About Us</a>
                  <a href="{% url 'news_list' %}" class="dropdown-item">News</a>
                </div>
              </div>
              <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
              <a href="{% url 'support' %}" class="nav-item nav-link">Support</a>
            </div>
            <div class="border-start ps-4 d-none d-lg-block">
              <div class="row">
                <div class="col">
                  <div class="darkmode">
                    <button data-theme-toggle aria-label="light" class="darkmode-btn" type="button"><img id="darkmodeIcon" src="{% static 'img/brightness-high-fill.svg' %}" alt="light mode icon" /></button>
                  </div>
                </div>
                <div class="col">
                  {% comment %}user가 관리자일때, 아닐때 조건문 추가 필요(BE){% endcomment %}
                  {% if user.is_authenticated and user != admin %}
                    <a href="{% url 'user_profile' %}" class="nav-item nav-link login-user">{{ user.username }}!</a>
                  {% elif user.is_authenticated and user == admin %}
                    <a href="{% url 'admin_profile' %}" class="nav-item nav-link login-user">{{ user.username }}!</a>
                  {% else %}
                    <a href="{% url 'login' %}" class="nav-item nav-link login-user">LOGIN</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div>
      {% block content %}

      {% endblock %}
    </div>

    <footer>
    <div class="container-fluid footer-container bg-dark footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
      <div class="container py-5">
        <div class="row g-5">
          <div class="col-lg-3 col-md-6">
            <h4 class="text-primary mb-4 color-changed">Our Office</h4>
            <p class="mb-2">
              <i class="fa fa-map-marker-alt text-primary me-3 color-changed"></i>123 Street, New York, USA
            </p>
            <p class="mb-2">
              <i class="fa fa-phone-alt text-primary me-3 color-changed"></i>+012 345 67890
            </p>
            <p class="mb-2">
              <i class="fa fa-envelope text-primary me-3 color-changed"></i>info@example.com
            </p>
            <div class="d-flex pt-3">
              <a class="btn btn-square btn-primary rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-square btn-primary rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-square btn-primary rounded-circle me-2" href=""><i class="fab fa-youtube"></i></a>
              <a class="btn btn-square btn-primary rounded-circle me-2" href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <h4 class="text-primary mb-4 color-changed">Quick Links</h4>
            <a class="btn btn-link" href="{% url 'fog' %}">Our Product</a>
            <a class="btn btn-link" href="{% url 'community' %}">Community</a>
            <a class="btn btn-link" href="{% url 'contact' %}">Contact Us</a>
            <a class="btn btn-link" href="{% url 'support' %}">Support</a>
          </div>
          <div class="col-lg-3 col-md-6"></div>
          <div class="col-lg-3 col-md-6">
            <div class="row"></div>&copy; <a class="fw-medium color-changed" href="#">Fog Filtering</a>, All Right Reserved.
            <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>

    {% comment %} <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div> {% endcomment %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    {% comment %} <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    <script>
      const darkIconURL = "{% static 'img/brightness-high-fill.svg' %}"
      const lightIconURL = "{% static 'img/moon-stars-fill.svg' %}"
    </script>
    <script src="{% static 'js/custom/dayandnight.js' %}"></script>
  </body>
</html>
